<div class="flex items-center mv4 ba b--accent-mono-light" style="border-left-width: 1rem; border-left-color: var(--accent-mono)">
    <!-- Icon -->
    {{ $.Scratch.Delete "cardIcon" }}
    {{ if and (isset .Params "icon") (.Params.Icon) }}
        {{ $.Scratch.Set "cardIcon" .Params.Icon }}
    {{ else if .Params.Repo }}
        {{ $.Scratch.Set "cardIcon" "logo-github" }}
    {{ else }}
        {{ $.Scratch.Set "cardIcon" "grumpy-robin" }}
    {{ end }}

    <div class="v-mid ph4">
        <a class="dim v-top" href="{{ .Params.repo | default .RelPermalink }}">
            {{ partial "svg-icon.html" (dict "icon" ($.Scratch.Get "cardIcon") "class" "w3 h3") }}
        </a>
    </div>

    <div class="pv3">
        <!-- Title -->
        <div class="tl f3"><a class="link accent" href="{{ .Params.repo | default .RelPermalink }}">{{ .Title }}</a></div>

        <!-- Date -->
        {{ if not .Date.IsZero }}
            <div class="tl f6 black-60">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</div>
        {{ end }}

        <!-- Description -->
        {{ if .Description }}
            <div class="pv2 tl f5"><a class="link black" href="{{ .Params.repo | default .RelPermalink }}">{{ .Description }}</a></div>
        {{ end }}

        <!-- Tags -->
        <div class="tl f6 pt2">
        {{ range .Params.tags }}
            <a class="link accent-mono" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">
                {{ partial "svg-icon.html" (dict "icon" "tag" "class" "w1 h1 v-mid") }}
                {{ . }}
            </a>
        {{ end }}
        </div>
</div>
</div>
