<div class="fl w-50 w-25-m w-20-l ma3 br2 ba b--black-10">
    {{ if and (isset .Params "icon") (.Params.Icon) }}
        <div class="pv2 br2 br--top bg-accent">
            <a class="f2 white" href="#">
                <i class="{{ .Params.Icon }}"></i>
            </a>
        </div>
    {{ end }}
    <div class="ph3 pt3 tl f3"><a class="link accent" href="{{ .Permalink }}">{{ .Title }}</a></div>
    <div class="ph3 pv3 tl f5">{{ .Description }}</div>
    <div class="ph3 pv3 tl f6 black-60 br2 br--bottom bg-black-05">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</div>
</div>
