{{ partial "header" . }}
<main>
    {{ .Title }}
    <br>
    
    <div class="text-left">{{ .Content }}</div>

    <!-- related posts with the same tags -->
    {{ $related := first 4 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

    {{ if $related }}
        <h4>Related</h4>
        <div class="cf center mw8">
            {{ range $related }} 
                {{ partial "index-card" . }} 
            {{ end }}
        </div>
    {{ end }}
</main>
{{ partial "footer.html" . }}
