<!-- highlight.js -->
{{ if .Site.Params.highlight | default false }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    {{ range .Site.Params.highlightLanguages }} <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script> {{ end }}
    <script>hljs.initHighlightingOnLoad();</script>
{{ end }}

<!-- lazyload (c.f. https://github.com/verlok/lazyload) -->
<script>
    (function (w, d) {
        w.addEventListener('LazyLoad::Initialized', function (e) {
            w.lazyLoadInstance = e.detail.instance;
        }, false);
        var b = d.getElementsByTagName('body')[0];
        var s = d.createElement("script"); s.async = true;
        var v = !("IntersectionObserver" in w) ? "8.17.0" : "10.19.0";
        s.src = "https://cdnjs.cloudflare.com/ajax/libs/vanilla-lazyload/" + v + "/lazyload.min.js";
        w.lazyLoadOptions = {};
        b.appendChild(s);
    }(window, document));
</script>