//
// Typefaces
//

.grumpycorp {
    font-family: "charcuterie-block";
}

//
// Global
//

:root {
    --accent: #1292a8;
}

html {
    font-family: 'Raleway', sans-serif;
}

img {
    // Don't let images scale up past their built-in size (but they'll still scale down)
    max-width: 100%;
}

#content a:link, #content a:visited {
    color: var(--accent);
}

#content a:hover {
    color: var(--accent) !important;
}

//
// Tachyons extensions
//

.accent {
    color:var(--accent)
}

.bg-accent {
    background-color:var(--accent)
}

.b--accent {
    border-color:var(--accent)
}
