# Prettier's MDX plugin is having a rough time in the current versions of Prettier
# dealing with embedded HTML spanning tags (e.g. <div>stuff</div>, but not <Vimeo/>)...
cottage.mdx
library.mdx
webapp.mdx
mobile-app.mdx