{{ partial "header" . }}

<div class="pt3 pb1">
    <a class="link f2 fw2 accent" href="{{ .Params.repo | default .RelPermalink }}">{{ .Title }}</a>
</div>
<div class="pa2 f3">{{ .Description }}</div>
<div class="pa1 f5 black-60">{{ .Date.Format (.Site.Params.dateFormat | default "January 2, 2006") }}</div>
<div>
    {{ range .Params.tags }}
        <span class="ph3 f6">
            <a class="link code accent" href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">
                {{ partial "svg-icon.html" (dict "icon" "tag" "class" "w1 h1 v-mid") }}
                {{ . }}
            </a>
        </span>
    {{ end }}    
</div>

<div id="content" class="center mw7 tl lh-copy ph2">
    {{ .Content }}
</div>

<!-- related posts with the same tags -->
{{ $related := first 4 (where (where (where .Site.Pages.ByDate.Reverse ".Type" "==" "post") ".Params.tags" "intersect" .Params.tags) "Permalink" "!=" .Permalink) }}

{{ if $related }}
    <div class="cf center mw7 ph2">
        <div class="pt4 f2 tl black-80">Related</div>

        <div class="w-80"> <!-- Reduce width somewhat so this isn't as prominent as the main content -->
            {{ range $related }} 
                {{ partial "index-card" . }} 
            {{ end }}
        </div>
    </div>
{{ end }}

{{ partial "footer.html" . }}
