//
// Syntax highlighting
//

@use "highlight.js/styles/xcode.min.css";

//
// Global
//

:root {
  --accent: #dc6c40;
  --accent-light: #f79a5e;
  --accent-dark: #0d5258;
  --accent-mono: #03061f;
  --accent-mono-light: #a0cab3;
}

html,
body {
  // Without this, browser enters quirk mode and top-level flexbox layout doesn't scale to full height
  // unless you remove the top-level DOCTYPE - oy.
  // See https://stackoverflow.com/questions/32214152/why-does-my-div-height-100-work-only-when-doctype-is-removed/32215263#32215263.
  height: 100%;
}

img {
  // Don't let images scale up past their built-in size (but they'll still scale down)
  max-width: 100%;
}

.content {
  font-size: 1.05em;

  a:link {
    color: var(--accent);
  }

  a:hover,
  a:visited {
    color: #ae4820; // Can't use var() here for security reasons
  }
}

//
// Typefaces
// -  Note: external typefaces are managed as fontsource-* npm packages.
//

@import "fonts";

html {
  font-family: "Questrial", "sans-serif";
}

h1 {
  font-family: "Quicksand", "sans-serif";
  font-weight: 500;
  color: var(--accent);

  a {
    color: var(--accent);
    text-decoration: none;
  }
}

h2 {
  font-family: "Quicksand", "sans-serif";
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent);
}

h3 {
  font-family: "Quicksand", "sans-serif";
  font-weight: 500;
  text-transform: uppercase;
  color: var(--accent-light);
}

h4 {
  font-family: "Dosis", "sans-serif";
  font-weight: 600;
  text-transform: uppercase;
  color: var(--accent-mono);
  margin-block-end: 0;
}

//
// SVG madness
//

.social-svg-gray {
  // c.f. https://blog.union.io/code/2017/08/10/img-svg-fill/
  filter: invert(0.5);
}

//
// Figures (i.e. image captions) madness
//

figure {
  display: table;
  width: 100%;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

figcaption {
  display: table-caption;
  caption-side: top;

  font-family: "Quicksand", "sans-serif";
  font-size: 0.875rem;
  padding-left: 0.5rem;
  padding-right: 1rem;

  padding-top: 0.25rem;
  padding-bottom: 0.25rem;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

//
// Portfolio page styles
//

@mixin non-small {
  @media (min-width: 30em) {
    @content;
  }
}

.portfolio-container {
  max-width: 72rem; // in between .mw8 and .mw9
}

.portfolio-container figure {
  margin-block-start: 0;
  margin-block-end: 0;
}

.portfolio-container img {
  // c.f. https://stackoverflow.com/questions/5804256/image-inside-div-has-extra-space-below-the-image
  display: block;
}

@mixin portfolio-item-padding {
  // in between .pa2 and .pa3
  padding: 0.75rem;
}

.portfolio-w100 {
  @include portfolio-item-padding;
}

.portfolio-sxs-container:before,
.portfolio-sxs-container:after {
  content: " ";
  display: table;
}

.portfolio-sxs-container:after {
  clear: both;
}

.portfolio-sxs-container {
  *zoom: 1; // .cf
  width: 100%; // .w-100
}

@each $width in 40, 50, 60 {
  .portfolio-sxs-w#{$width} {
    @include portfolio-item-padding;

    // .fl
    float: left;
    _display: inline;

    // .w-100 - Default to 100% width, reduce to 50% width on non-small screens
    width: 100%;

    // .w-XXX-ns
    @include non-small {
      width: $width * 1%;
    }
  }
}

//
// Tachyons extensions
//

.accent {
  color: var(--accent);
}

.bg-accent {
  background-color: var(--accent);
}

.b--accent {
  border-color: var(--accent);
}

.accent-mono {
  color: var(--accent-mono);
}

.bg-accent-mono {
  background-color: var(--accent-mono);
}

.b--accent-mono {
  border-color: var(--accent-mono);
}

.accent-mono-light {
  color: var(--accent-mono-light);
}

.bg-accent-mono-light {
  background-color: var(--accent-mono-light);
}

.b--accent-mono-light {
  border-color: var(--accent-mono-light);
}

.h075 {
  // as a complement to http://tachyons.io/docs/layout/heights/
  height: 0.75rem;
}

.mw55-ns {
  // as a complement to http://tachyons.io/docs/layout/max-widths/
  @include non-small {
    max-width: 24rem;
  }
}
