<!-- Footer -->
<div id="footer-wrapper">
    <section id="footer" class="container">
        <div id="contact" class="row">
            <div class="4u 12u(mobile)">
                {{ partial "footer/contact.html" . }}
            </div>
            <div class="4u 12u(mobile)">
                {{ partial "footer/social.html" . }}
            </div>
            <div class="4u 12u(mobile)">
                    {{ partial "footer/copyright.html" . }}
                </div>
            </div>
    </section>
</div>