<h1>NOT FOUND</h1>

<p>
    <img class="h4 w4" src='@Context.GetLink("/assets/icons/sad-turnip.svg")' />
</p>

<p>
    You just hit a page that doesn't exist... such sadness.
    Try heading <a href="/">home</a> or to the <a href="/posts/all">post index</a>.
</p>