@{
    var thisPostTag = Site.GetTagForPost(Document);

    var allPostsInTimeOrder = Outputs
    .FromPipeline("Content")
    .FilterSources(Document.GetString("PostSources"))
    .OrderBy(doc => doc.GetPublishedDate())
    .ToList();

    var thisPostIndex = allPostsInTimeOrder.FindIndex(post => post.GetLink() == Document.GetLink());

    var foundThisPost = thisPostIndex != -1;

    var previousPost = foundThisPost && (thisPostIndex - 1) >= 0 ? allPostsInTimeOrder[thisPostIndex - 1] : null;

    var nextPost = foundThisPost && (thisPostIndex + 1) < allPostsInTimeOrder.Count ? allPostsInTimeOrder[thisPostIndex + 1]
    : null;
}
<table class="w-100 pv3">
    <tbody>
        <tr>
            <td class="w-50">
                @if (previousPost != null)
                {
                    <a class="black-40" href="@previousPost.GetLink()">&laquo; @previousPost.GetTitle()</a>
                }
            </td>
            <td class="w-50 tr">
                @if (nextPost != null)
                {
                    <a class="black-40" href="@nextPost.GetLink()">@nextPost.GetTitle() &raquo;</a>
                }
            </td>
        </tr>
    </tbody>
</table>
