{{ partial "header" . }}

<div class="pt5 pb4">
    {{ partial "svg-icon.html" (dict "icon" "grumpy-robin" "class" "v-mid w3 h3") }}
    <div class="dib v-mid">
        <div class="f1 grumpycorp" style="line-height: 1">GRUMPYCORP</div>
        <div class="f4 grumpycorp-extralight accent">creative industries</div>
    </div>
</div>

<div class="cf center mw6 mb4">
    <div class="fl w-100 pv3">
        <a class="f4 link dim mh3 ph5 pv2 black bg-accent-mono-light" href="/about/grumpycorp">About</a>
    </div>
    <!-- 
    <div class="fl w-100 w-50-ns pv3">
        <a class="f4 link dim mh3 ph5 pv2 black bg-accent-mono-light" href="/about/grumpycorp">Hire me</a>
    </div>
    -->
</div>

<div class="center mw7 ph3">
    <div class="f3 tl">
        Recent
    </div>
    {{ $pages := first 10 (where .Site.RegularPages.ByDate.Reverse "Type" "post") }}
    {{ range $pages }}
        {{ partial "index-card.html" . }}
    {{ end }}
</div>

{{ partial "footer" . }}
