<h1 class="mb1">@(Document.GetString("Title") ?? Document.GetString("SiteTitle"))</h1>

<div class="f5 black-60">
  @(Document.GetString("Date"))

  <span class="ph2 black-40">in</span>

  @foreach (string tag in Document.GetList<string>("tags").Where(x => x != null))
  {
    <a href="" class="link accent-mono"> @tag</a>
  }
</div>
